<div class="container">
  <h1>Compra realizada com sucesso!</h1>
  <p>Obrigado por comprar conosco!</p>

  <%= link_to "Voltar para a página inicial", root_path %>
  <%= link_to "Ver meus pedidos", root_path %>
</div>
